<div{{attributes.addClass(classes,"accordion-tabs")}}>
	<div class="w-full flex bg-cover {{gutter_option}} {{background_style}} border-b-2 border-htlflightGray" style="background-color:{{background_color}}">
		<div class="w-8/12 m-auto max-w-7xl">
			{% if content.field_display_admin_title %}
				<h2 class="text-4xl font-extralight pb-6 pt-2 text-htlfBlack">{{ content.field_admin_title }}</h2>
			{% endif %}
			<div class="">
				<div class="bg-white w-full mx-auto border border-gray-200" x-data="{selected:1}">
					<ul
						class="shadow-box">
						{# Section for Accordion Widget #}
						{% if widget_style == "accordion" %}
							{% for tab in tabs %}
								<li class="relative  border-gray-200">

									<button type="button" class="w-full px-8 py-6 text-left" @click="selected !== {{loop.index}} ? selected = {{loop.index}} : selected = null">
										<div class="flex items-center justify-start">
                                            <i class="arrow h-0 w-0 transition-all duration-700" x-ref="container{{loop.index}}" x-bind:style="selected == {{loop.index}} ? 'transform: rotate(225deg)' : ''" "></i>
											<{{tab.tag}} class="pl-6">
												{{tab.title}}
											</{{tab.tag}}>
										</div>
									</button>

									<div id="{{tab.link_title}}-ac-{{loop.index}}" class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container{{loop.index}}" x-bind:style="selected == {{loop.index}} ? 'max-height: ' + $refs.container{{loop.index}}.scrollHeight + 'px' : ''">
										<div class="p-10">
											{{tab.body}}

											{% if tab.button is not empty %}
												<a class="{{tab.button.color.text}}" style="background-color: {{tab.button.color.background}}" href="{{tab.button.url}}" aria-label="{{tab.button.aria}}">
													{{tab.button.title}}
													<i class="arrow"></i>
												</a>
											{% endif %}
										</div>
									</div>

								</li>
							{% endfor %}
							{# End Accordion Widget #}
							{# Section for Tabs Widget #}
						{% elseif widget_style == "tabs" %}

							{{ attach_library('tailwind/tabs') }}

							<div
								class="w-full mx-auto">
								<!-- Tabs -->
								<ul id="tabs" class="inline-flex w-full">
									{% for tab in tabs %}
										{% if loop.first %}
											<li class="bg-white p-6 text-white bg-[--PrimaryColor] font-semibold">
												<a id="tab-{{loop.index}}" href="#{{tab.link_title}}-{{loop.index}}">{{tab.title}}</a>
											</li>
										{% else %}
											<li class="p-6 text-gray-800 font-semibold">
												<a href="#{{tab.link_title}}-{{loop.index}}">{{tab.title}}</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>

								<!-- Tab Contents -->
								<div id="tab-contents">
									{% for tab in tabs %}
										{% if loop.first %}
											<div id="{{tab.link_title}}-{{loop.index}}" class="p-10">
												{{tab.body}}

												{% if tab.button is not empty %}
													<a class="{{tab.button.color.text}}" style="background-color: {{tab.button.color.background}}" href="{{tab.button.url}}" aria-label="{{tab.button.aria}}">
														{{tab.button.title}}
														<i class="arrow"></i>
													</a>
												{% endif %}
											</div>
										{% else %}
											<div id="{{tab.link_title}}-{{loop.index}}" class="hidden p-10">
												{{tab.body}}

												{% if tab.button is not empty %}
													<a class="{{tab.button.color.text}}" style="background-color: {{tab.button.color.background}}" href="{{tab.button.url}}" aria-label="{{tab.button.aria}}">
														{{tab.button.title}}
														<i class="arrow"></i>
													</a>
												{% endif %}
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>

							{# End Tabs Widget #}
							{# Section for V-Tabs Widget #}
						{% elseif widget_style == "v-tabs" %}

                            {{ attach_library('tailwind/v-tabs') }}

							<div
								class="flex grow flex-col md:flex-row justify-between">
								<!-- Tabs -->
								<div class="md:basis-3/12">
									<ul id="v-tabs" class="w-full">
										{% for tab in tabs %}
											{% if loop.first %}
												<li class="bg-white p-6 text-white bg-[--PrimaryColor] font-semibold">
													<a id="v-tab-{{loop.index}}" href="#{{tab.link_title}}-v-{{loop.index}}">{{tab.title}}</a>
												</li>
											{% else %}
												<li class="p-6 text-gray-800 font-semibold">
													<a href="#{{tab.link_title}}-v-{{loop.index}}">{{tab.title}}</a>
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
								<!-- Tab Contents -->
								<div id="v-tab-contents" class="md:basis-9/12">
									{% for tab in tabs %}
										{% if loop.first %}
											<div id="{{tab.link_title}}-v-{{loop.index}}" class="p-10">
												{{tab.body}}

												{% if tab.button is not empty %}
													<a class="{{tab.button.color.text}}" style="background-color: {{tab.button.color.background}}" href="{{tab.button.url}}" aria-label="{{tab.button.aria}}">
														{{tab.button.title}}
														<i class="arrow"></i>
													</a>
												{% endif %}
											</div>
										{% else %}
											<div id="{{tab.link_title}}-v-{{loop.index}}" class="hidden p-10">
												{{tab.body}}

												{% if tab.button is not empty %}
													<a class="{{tab.button.color.text}}" style="background-color: {{tab.button.color.background}}" href="{{tab.button.url}}" aria-label="{{tab.button.aria}}">
														{{tab.button.title}}
														<i class="arrow"></i>
													</a>
												{% endif %}
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						{% endif %}
						{# End V-Tabs Widget #}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
