{% if slides is iterable and slides|length > 1 %}
{{ attach_library('tailwind/slideshow') }}
{% endif %}

<div
	{{attributes.addClass(classes, 'banner-slideshow')}}>
	<!-- Slider main container -->
	<div
		class="swiper mySwiper {{slide_height}}">
		<!-- Additional required wrapper -->
		<div
			class="swiper-wrapper">
			<!-- Slides -->
			{% for slide in slides %}
				<div class="swiper-slide bg-htlfGray bg-cover bg-no-repeat bg-center bg-blend-multiply {{slide_height}} {{slide.overlay}}" {% if slide.background_image is not empty %} style="background-image: url({{slide.background_image}});" {% endif %}>
					<div class="bg-cover w-full h-full">
						<div class="w-11/12 xl:w-8/12 m-auto max-w-7xl py-14 text-htlfWhite flex {{slide.alignment}}">
							<div class="slide-inner max-w-[34rem]">
								<h2 class="text-5xl font-medium">{{slide.title|raw}}</h2>
								<p class="text-htlfWhite py-4">{{slide.body}}</p>

								{% if slide.button is not empty %}
									<a 
                                        class="rounded-md w-44 relative top-5 py-4 px-10 my-8 font-medium hover:shadow-2xl hover:drop-shadow-2xl transition duration-200 {{slide.button.color.text}}" 
                                        style="background-color: {{slide.button.color.background}}" href="{{slide.button.url}}" 
                                        aria-label="{{slide.button.aria}}"
                                    >
										{{slide.button.title}}</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev !text-htlfBlack"></div>
		<div class="swiper-button-next !text-htlfBlack"></div>

		<!-- If we need scrollbar -->
		{# <div class="swiper-scrollbar"></div> #}
	</div>
</div>
