<div{{ attributes.addClass(classes) }}>
    <div class="w-full {{background_color}} flex bg-cover {{background_height}}" {% if background_type == 'image' %} style="background-image: url({{background_image}});" {% endif %}>
        <div class="w-11/12 xl:w-8/12 m-auto max-w-7xl lg:p-8 py-8 flex content-center items-center">
            {% if content.field_display_admin_title.0['#markup'] == "On" %}
                <h2 class="text-4xl font-extralight pb-6">{{ content.field_admin_title }}</h2>
            {% endif %}

            <div class="flex grow gap-5 flex-col md:flex-row {{alignment}}">
                <p class="lg:mx-12 text-3xl font-medium pt-2.5 {{text_color}}" aria-label="{{content.field_button_aria_label|raw}}">{{content.field_text}}</p>
                <a class="rounded-md sm:m-[20px auto] w-44 py-4 px-10 mb-4 font-medium hover:shadow-2xl hover:drop-shadow-2xl transition duration-200 {{button.color}}" href="{{button.url}}">{{button.title}}</a>
            </div>
        </div>
    </div>
</div>