<div{{ attributes.addClass(classes, "general-content") }}>
    <div class="general-content-inner w-full flex bg-cover {{gutter_option}} {{background_style}}" style="background-color:{{background_color}}">
        <div class="{{paragraph_width}}">
            {% if content.field_display_admin_title.0['#markup'] == "On" %}
                <h2 class="text-4xl font-extralight pb-6">{{ content.field_admin_title }}</h2>
            {% endif %}
            {{body}}
        </div>
    </div>
</div>