<div{{attributes.addClass(classes,'grid-section')}}>
	<div class="w-full bg-{{background_color}} {{text_color}} {{gutter_option}}" style="background-color:{{background_color}}">
		<div class="w-8/12 m-auto max-w-7xl">
			{% if content.field_display_admin_title.value %}
				<h2 class="text-5xl font-extralight py-6">{{ content.field_admin_title }}</h2>
			{% endif %}

			<div class="flex flex-row flex-wrap gap-y-8 {{col_count}}">
				{% for item in grid_items %}
					{% set GridIndex = loop.index - 1 %}
					<div class="{{item_background}} bg-cover p-6 grow {{columns}} {{grid_style}}" {% if item.image is not empty %} style="background-image: url({{item.image}});" {% endif %}>
						{% if item.image_type == 'fa' %}
							<div class="fontawesome-icon mb-4">
								<i class="{{item.fa.classes}} text-4xl" data-fa-transform="{{ item.fa.transforms }}" data-fa-mask="{{ item.fa.mask }}" style="{{ item.fa.css }}"></i>
							</div>
						{% endif %}
						<h3 class="font-bold text-2xl pb-4 {{grid_style}} {% if grid_style == "smallcallouts" %}font-light text-sm uppercase text-htlfWhite{% endif %}">{{item.title}}</h3>
						<div class="mb-6 card">
							{{item.body}}
						</div>
						{% if item.button is not empty %}
							<a 
								class="{{item.button.color.text}}" 
								style="background-color: {{item.button.color.background}}" 
								href="{{item.button.url}}" 
								aria-label="{{item.button.aria}}"
								>
                                {{item.button.title}} 
                                <i class="arrow"></i>
                            </a>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
