<div{{ attributes.addClass(classes, "rates") }}>
    <div class="w-full flex bg-cover {{gutter_option}} {{background_style}}" style="background-color:{{background_color}}">
        <div class="w-11/12 xl:w-8/12 m-auto max-w-7xl">
            {% if content.field_display_admin_title.0['#markup'] == "On" %}
                <h2 class="text-4xl font-extralight pb-6 pt-2">{{ content.field_admin_title }}</h2>
            {% endif %}
            <div class="flex grow flex-col md:flex-row justify-between">
				{% for item in rate_items %}
                    <div class="rates-inner md:border-l-2 md:border-htlfGray pl-4 m-auto text-center border-[unset] border-0 p-8">
                        <a 
                            class="uppercase tracking-wider font-medium hover:underline underline-offset-4 decoration-2 decoration-[--PrimaryColor]" 
                            style="color:{{item.button.color}}" 
                            href="{{item.button.url}}"
                        >
                            {{item.button.title}}
                        </a>

                        <p class="font-light">{{item.qualifying_text}}</p>
                        <div class="flex flex-row flex-wrap m-auto text-center justify-center">
                            <p class="text-5xl font-medium" style="color:{{item.button.color}}">{{item.rate_value}}</p>
                            <div>
                                <p class="text-xl" style="color:{{item.button.color}}">{{item.rate_symbol}}</p> 
                                <p class="relative bottom-1 font-light">{{item.rate_type}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			</div>
        </div>
    </div>
</div>