<div{{ attributes.addClass(classes, 'testimonial') }}>
    <div class="w-full {{gutter_option}} {{background_style}}" style="background-color:{{background_color}}">
        <div class="w-8/12 m-auto max-w-7xl">
            {% if content.field_display_admin_title %}
                <h2 class="text-4xl font-extralight pb-6">{{ content.field_admin_title }}</h2>
            {% endif %}

            <div class='flex grow flex-col md:flex-row w-full'>
                <div class='flex flex-col flex-1'>
                    <div class="pr-4">
                        {{ content.field_image }}
                    </div>
                </div>
                <div class='flex flex-col flex-[2]'>
                    <h3 class="italic text-2xl font-extralight">{{content.field_textarea_plain}}</h3>
                    <p class="font-bold mt-6">{{content.field_text}}</p>
                    <p>{{content.field_text_secondary}}</p>
                </div>
            </div>
        </div>
    </div>
</div>