{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
	<h3>{{ title }}</h3>
{% endif %}

<div class="w-11/12 xl:w-9/12 m-auto max-w-7xl pt-12">

	<h2 class="total-results text-3xl font-extralight py-6">
		{% if view.total_rows > 0 %}
			{{view.total_rows}}
			total results for
			<span class="font-medium">{{view.exposed_raw_input.keyword}}</span>
		{% else %}
			No results found for
			<span class="font-medium">{{view.exposed_raw_input.keyword}}</span>
		{% endif %}
	</h2>

	{% for row in rows %}
		{%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
		<div{{row.attributes.addClass(row_classes, "pb-8")}}>
			{{- row.content -}}
		</div>
	{% endfor %}

</div>
