{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% set accounts = content['#accounts'] %}

<div{{attributes.addClass('footer-social-media flex flex-wrap justify-end')}}>
	<ul class="flex flex-row justify-start">
		{% for key, account in accounts %}
			{% if account %}
				<li class="pl-4">
					<a class="{{key}} js-{{key}}-share" href="{{account}}" target="_blank" rel="noopener" aria-label="Share this post on {{key|upper}}">
						<i class="fa-brands {% if key == 'linkedin' %}fa-{{key}}{% else %}fa-{{key}}-square{% endif %}"></i>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
