{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <div class="p-6 shadow-xl">
      <a href="{{ path('<front>') }}" rel="home" class="site-logo">
        <img class="min-h-[5.625rem] max-h-[5.625rem] w-full" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    </div>
  {% elseif site_name %}
    {% if site_name %}
      <div class="site-name">
        <a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
      </div>
    {% endif %}
  {% else %}
    {% if site_slogan %}
      <div class="site-slogan">{{ site_slogan }}</div>
    {% endif %}
  {% endif %}
{% endblock %}
